.developer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  background-color: var(--bg-color);
}

.developer__main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.developer__navigation {
  display: flex;
  margin-bottom: var(--space-m);
}

.developer__navigation-btn {
  flex-grow: 1;

  text-align: center;

  &--active {
    background-color: var(--active-color);

    &:hover {
      background-color: var(--active-color);
    }
  }
}
