# Файлы и папки операционной системы
.DS_Store
Thumbs.db
*.ini
*.log*
*.txt*
!src/tests/**/*.txt*
!src/tests/**/*.ini*

# Файлы редактора
.idea

# Вспомогательные файлы
node_modules/
data/
/npm-debug.log
*.pdf

# Папка с собранными файлами проекта
build/
dist/
release/
backup/
