# Файлы и папки операционной системы
.DS_Store
Thumbs.db
*.ini
*.log*
*.txt*

# Файлы редактора
.idea

# Вспомогательные файлы
node_modules/
data/
/npm-debug.log

# Папка с собранными файлами проекта
build/
ReduxDevToolsExtension/
