.messages {
  position: absolute;
  right: 20px;
  bottom: 0;

  display: flex;
  flex-direction: column;
  max-width: 25%;
  max-height: 100%;

  overflow-y: hidden;
}

.messages__btn {
  margin-bottom: 8px;
  padding: 6px 0;

  color: $text-main;

  font-size: 12px;
  line-height: 1;

  background-color: $text-secondary;

  &:hover {
    background-color: lighten($color: $text-secondary, $amount: 10);
  }
}

.messages__btn-text {
  color: inherit;
}

.messages__list {
  @include reset-list;
  overflow-y: auto;
}
