.game-settings-content__item {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-m);

  user-select: none;

  &:last-child {
    margin-bottom: 0;
  }
}
