.game-settings-content__item {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  user-select: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.game-settings-content__label {
  @include reset-indents;
  display: flex;
  align-items: center;
}

.game-settings-content__subblock {
  display: flex;
}

.game-settings-content__select {
  flex-direction: row;
}
