.main-screen__main {
  flex-direction: row;
}

.main-screen__control-panel {
  align-self: stretch;
  justify-content: center;
  padding: 20px;

  background-color: var(--overlay-color);

  & .control-panel__btn {
    margin-bottom: 10px;
  }
}

.main-screen__content {
  color: inherit;
}
