.game-settings-backup__container {
  display: flex;
}

.game-settings-backup__list {
  color: inherit;
}

.game-settings-backup__item {
  color: inherit;
}

.game-settings-backup__btn {
  color: inherit;
}
