.game-settings-backup__container {
  display: flex;
  flex-direction: column;
}

.game-settings-backup__list {
  color: inherit;
}

.game-settings-backup__item {
  color: inherit;
}

.game-settings-backup__controls {
  display: flex;
  justify-content: center;
}

.game-settings-backup__btn {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
