.button {
  @include reset-indents;
  font: inherit;
  color: $text-secondary;
  text-decoration: none;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-btn {
  margin-right: 10px;
  padding: 4px 8px;
  color: $text-secondary;
  background-color: $text-main;
}
