html {
  box-sizing: border-box;
  height: 100%;
}

body {
  @include reset-indents;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-track,
.scrollbar__track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb,
.scrollbar__thumb {
  top: 0;
  right: 0;

  height: 100%;

  background-color: var(--text-main);
  border-radius: 10px;

  &:hover {
    background-color: var(--disabled-color);
  }
}
