html {
  box-sizing: border-box;
  height: 100%;
}

body {
  @include reset-indents;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-track {
  background-color: var(bg-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-main);
  border-radius: 10px;

  &:hover {
    background-color: var(--disabled-color);
  }
}
