:root {
  --bg-color: hsl(247deg, 10%, 18%);
  --overlay-color: hsla(0deg, 0%, 0%, 50%);
  --text-main: hsl(0deg, 0%, 90%);
  --no-border: hsl(0deg, 0%, 100%);
  --text-secondary: hsl(249deg, 11%, 12%);
  --border-color: hsla(0deg, 0%, 0%, 20%);
  --btn-color: hsl(245deg, 8%, 28%);
  --hover-color: hsl(199deg, 100%, 50%);
  --focus-color: hsl(199deg, 100%, 50%);
  --active-color: hsl(199deg, 100%, 40%);
  --disabled-color: hsl(260deg, 2%, 75%);
  --disabled-text-color: hsl(0deg, 0%, 35%);
  --header-btn-color: hsl(250deg, 4%, 31%);
  --header-btn-close-color: hsl(355deg, 86%, 49%);
  --error-color: rgb(255, 65, 65);
  --warning-color: rgb(248, 162, 34);
  --success-color: rgb(43, 231, 90);
  --info-color: hsl(199deg, 100%, 40%);
  --text-size: 16px;
  --text-size-input: 14px;
  --indent-side: 10px;
  --modal-btn-padding: 16px;
  --animation-rotate: rotate 1s linear infinite;
  --content-width: 100%;
}
