.game-settings-form__buttons {
  display: flex;
  justify-content: center;
}

.game-settings-form__btn {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &:disabled {
    background-color: var(--disabled-color);
  }
}
