.spoiler__item {
  margin-bottom: calc(var(--space-m) * 2);
}

.spoiler__block {
  position: relative;

  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 40%;

    display: none;
    width: 20%;
    height: 1px;

    background-color: var(--text-main);
  }

  &[open]::after {
    display: block;
  }

  &[open] summary {
    background-color: var(--btn-color);
  }
}

.spoiler__title {
  position: relative;

  overflow: hidden;

  cursor: pointer;

  &:focus {
    @include focus;
  }

  &--error {
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - (var(--marker-size) / 2));
      right: var(--space-m);

      width: var(--marker-size);
      height: var(--marker-size);

      background-color: var(--error-color);
      border-radius: 50%;
    }
  }

  & .spoiler__text {
    flex-shrink: 0;
    margin-right: var(--space-m);

    &:nth-child(even) {
      padding-right: var(--space-m);

      font-size: 16px;
      font-weight: 700;

      border-right: 1px solid var(--text-main);
    }
  }

  .spoiler__block[open] & {
    margin-bottom: var(--space-m);
  }
}

.spoiler__title-btn {
  width: calc(var(--text-size) + 2px);
  height: calc(var(--text-size) + 2px);
  margin-right: var(--space-m);

  font-size: 0;
  vertical-align: text-bottom;
  fill: rgb(230, 230, 230);

  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    fill: var(--hover-color);
  }

  &:focus {
    @include focus;
  }

  &:disabled {
    opacity: 0.4;

    &:hover {
      fill: rgb(230, 230, 230);
    }
  }

  &--down {
    transform: rotate(180deg);
  }
}

.spoiler__title-btn > span {
  font-size: 0;
}
