.game-settings-screen__main {
  color: inherit;
}

.game-settings-screen__control-panel {
  color: inherit;
}

.game-settings-screen__content {
  color: inherit;
}

.game-settings-screen__profiles {
  color: inherit;
}

.game-settings-screen__select {
  color: inherit;
}
