.game-settings-screen__main {
  position: relative;
}

.game-settings-screen__navigation {
  color: inherit;
}

.game-settings-screen__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 10px 0;
}

.game-settings-screen__profiles {
  margin-bottom: 30px;
}

.game-settings-screen__select {
  color: inherit;
}

.game-settings-screen__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.game-settings-screen__options {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.game-settings-screen__modal-block {
  min-height: 95%;
}
