.game-settings-content__item {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: var(--indent-size);

  & label::before {
    right: calc(0px + var(--indent-size) * 2);
  }

  & label::after {
    right: calc(17px + var(--indent-size) * 2);
  }

  &:last-child {
    margin-bottom: 0;
  }

  & .switcher__input:checked + label::after {
    right: calc(3px + var(--indent-size) * 2);
  }
}

.game-settings-content__label {
  @include reset-indents;
  display: flex;
  align-items: center;
}

.game-settings-content__subblock {
  display: flex;
  justify-content: space-between;
  min-width: 240px;
}

.game-settings-content__select {
  flex-direction: row;
}

.game-settings-content__subblock .select__container {
  min-width: 45%;
  margin-bottom: 0;
}

.game-settings-content__subblock .select__input {
  width: 100%;
  min-width: 0;
}

.game-settings-content__select .select__label {
  margin-bottom: 0;
}

.game-settings-content-checkbox__container .checkbox__label::before {
  right: 20px;
}

.game-settings-content-checkbox__container .checkbox__label::after {
  right: 27px;
}
