.develover-screen__controller {
  display: flex;
  justify-content: center;
  margin: var(--gap-size);

  & .control-panel__btn {
    flex-basis: 15%;
    max-width: 140px;
    margin-right: var(--gap-size);

    &:last-child {
      margin-right: 0;
    }
  }
}
