.develover__controller {
  display: flex;
  justify-content: center;
  margin: var(--space-m);
}

.develover__controller-btn {
  flex-basis: 15%;
  max-width: 140px;
  margin-right: var(--space-m);

  &:last-child {
    margin-right: 0;
  }
}
