.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.developer__form {
  display: flex;
  flex-direction: column;
  max-width: var(--content-width);
  height: 100%;
  padding: 0 var(--space-m) var(--space-m);
  overflow: hidden;
}

.developer__block {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-l);
  padding: 0 var(--space-m) var(--space-xl);

  border-bottom: 1px solid var(--text-main);

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;

    border-bottom-width: 0;
  }
}

.developer__block-title {
  @include reset-indents;
  margin-bottom: var(--space-m);

  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.developer__subtitle {
  @include reset-indents;
  margin-bottom: var(--space-m);

  font-weight: 700;
  text-align: center;
}

.developer__item {
  margin-bottom: var(--space-m);

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-last-of-type(-n+2) .hint__block {
    top: auto;
    bottom: 0;
  }
}

.developer__btn {
  align-self: center;
  width: 200px;
  margin-top: var(--space-m);
}
