$checkbox-size: 20px;

.button {
  @include reset-indents;
  font: inherit;
  color: var(--text-main);
  text-decoration: none;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  user-select: none;

  &:disabled {
    cursor: default;
  }
}

.main-btn {
  padding: 10px 14px;

  background-color: var(--btn-color);

  &:hover {
    background-color: var(--hover-color);
  }

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: -2px;
  }

  &:disabled {
    color: var(--disabled-text-color);

    background-color: var(--disabled-color);

    cursor: default;
  }
}

.select__container {
  @include ui-container;
}

.select__input {
  min-width: 240px;
  padding: 10px;

  color: var(--text-secondary);

  font-size: var(--text-size-input);
  text-align: center;

  border-color: var(--border-color);
  outline: none;

  cursor: pointer;

  user-select: none;

  &:hover {
    outline: 1px solid var(--border-color);
  }

  &:disabled {
    color: var(--disabled-text-color);

    border-color: var(--disabled-color);

    cursor: default;
  }

  &:focus {
    @include focus;
  }

  &:disabled,
  &:focus {
    &:hover {
      outline: none;
    }
  }
}

.switcher__container {
  position: relative;

  display: flex;
  align-items: center;
}

.switcher__label-text {
  color: inherit;
}

.switcher__label {
  display: flex;
  align-items: center;

  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - #{$checkbox-size} / 2);
    right: 0;

    width: 36px;
    height: 20px;

    border: 1px solid var(--text-main);
    border-radius: 14px;

    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - #{$checkbox-size} / 2 + 2px);
    right: calc(0% + 16px + 1px);

    display: block;
    width: 16px;
    height: 16px;

    background-color: var(--text-main);
    border-radius: 50%;

    cursor: pointer;

    transition: right 0.3s linear;
  }

  .switcher__input:checked + &::after {
    right: 3px;
  }

  .switcher__input:focus + &::before {
    @include focus;
  }
}

.number-field__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number-field__input {
  padding: 12px 10px;

  font-size: var(--text-size-input);
  text-align: center;

  border: none;

  &:focus {
    @include focus;
  }

  &:disabled {
    background-color: var(--disabled-color);
  }

  &::placeholder {
    color: var(--disabled-color);
  }

  &--error {
    @include inputError;
  }
}

.text-field__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-field__label {
  flex: 1 1 50%;
}

.text-field__input {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 12px 10px;

  font-size: var(--text-size-input);

  border: none;

  &:focus {
    @include focus;
  }

  &:disabled {
    background-color: var(--disabled-color);
  }

  &::placeholder {
    color: var(--disabled-color);
  }

  &--error {
    @include inputError;
  }
}

.text-area__container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-area__label {
  flex: 1 1 50%;
  align-self: flex-start;
}

.text-area__input {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 12px 10px 0;

  font-family: inherit;
  font-size: var(--text-size-input);

  border: none;

  resize: vertical;

  &:focus {
    @include focus;
  }

  &:disabled {
    background-color: var(--disabled-color);
  }

  &::placeholder {
    color: var(--disabled-color);
  }

  &--error {
    @include inputError;
  }
}

.path-selector__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.path-selector__label {
  flex: 1 1 50%;
}

.path-selector__input-block {
  position: relative;

  flex: 1 1 50%;
  display: flex;
  align-items: center;
}

.path-selector__select {
  height: 100%;
  padding: 11px 4px;

  font-size: var(--text-size-input);

  border-width: 0;

  border-color: var(--disabled-color);
  border-right-width: 2px;
  border-radius: 0;

  &:focus {
    @include focus;
  }

  &:disabled {
    padding: 12px 4px;

    border-color: transparent;

    appearance: none;
  }
}

.path-selector__input {
  width: 100%;
  padding: 12px 44px 12px 4px;

  font-size: var(--text-size-input);

  border: none;

  &:focus {
    @include focus;
  }

  &:disabled {
    background-color: var(--disabled-color);
  }

  &--error,
  &--error:disabled {
    background-color: var(--error-color);
  }
}

.path-selector__input-btn {
  position: absolute;
  right: 0;

  width: 40px;
  height: 100%;

  font-size: 0;

  background-color: var(--btn-color);

  &::before {
    content: ". . .";

    position: absolute;
    bottom: 50%;
    left: 0;

    display: inline-block;
    width: 100%;

    font-size: var(--text-size-input);
    line-height: calc(var(--text-size-input) / 2);
    font-weight: 700;
    text-align: center;
  }

  &:focus {
    @include focus;
  }

  &:hover {
    background-color: var(--hover-color);
  }

  &:disabled:hover {
    background-color: var(--btn-color);
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 250;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 95;

  width: 100%;
  height: 100%;

  background-color: var(--overlay-color);
}

.modal__block {
  position: relative;
  z-index: 100;

  display: flex;
  flex-direction: column;
  max-height: 100%;

  background-color: var(--bg-color);
}

.modal__header {
  display: flex;
  justify-content: flex-end;

  background-color: var(--text-secondary);
}

.modal__title {
  @include reset-indents;
  flex-grow: 1;
  padding-left: calc(var(--modal-btn-padding) * 2);

  line-height: calc(var(--modal-btn-padding) * 2);
  text-align: center;
}

.modal__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  text-align: center;

  &::before {
    text-align: center;
  }
}

.modal__btn {
  padding: var(--modal-btn-padding);
  /* stylelint-disable string-no-newline, max-line-length */
  background-image:
    url(
      'data:image/svg+xml,\
      <svg height="16" width="16" viewBox="0 0 413.348 413.348" xmlns="http://www.w3.org/2000/svg">\
        <path fill="rgb(251, 251, 254)" d="M413.348 24.354L388.994 0l-182.32 182.32L24.354 0 0 24.354l182.32 182.32L0 388.994l24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"/>\
      </svg>'
    );
  /* stylelint-enable string-no-newline, max-line-length */
  background-repeat: no-repeat;
  background-position: center;

  &--close:hover,
  &--close:focus {
    background-color: var(--header-btn-close-color);
  }
}

.modal__btn .modal__btn-text {
  display: none;
}

.loader__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--overlay-color);
}

.loader {
  width: 50px;
  height: 50px;

  border: 5px solid var(--text-main);
  border-top-color: transparent;
  border-radius: 50%;

  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
