.message {
  max-width: 400px;
  margin-bottom: 10px;
  padding: 8px 8px 8px;

  color: inherit;

  background-color: $text-secondary;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.message__content {
  @include reset-indents;
  overflow: hidden;

  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--open {
    white-space: normal;
  }
}

.message__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.message__btn {
  width: 10px;
  height: 10px;
  margin-left: 4px;

  background-size: contain;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    filter: brightness(50);
  }

  &--expanded {
    transform: rotate(180deg);
  }

  &--close {
    background-image: url('data:image/svg+xml,\
    <svg viewBox="0 0 329.26933 329" xmlns="http://www.w3.org/2000/svg" fill="%23c1c1c1">\
    <path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>\
    </svg>');
  }

  &--expand {
    background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.984 511.984" fill="%23c1c1c1">\
      <path d="M223.992,153.271V47.991c0-6.592-4.032-12.512-10.176-14.912c-6.112-2.368-13.152-0.8-17.568,4.064l-192,208 c-5.664,6.144-5.664,15.584,0,21.728l192,208c3.072,3.296,7.36,5.12,11.744,5.12c1.952,0,3.936-0.352,5.824-1.088 c6.144-2.4,10.176-8.32,10.176-14.912v-105.28c0-4.064-1.536-7.968-4.32-10.944l-85.76-91.776l85.792-91.808 C222.456,161.239,223.992,157.335,223.992,153.271z"/>\
      <path d="M507.736,245.143l-192-208c-4.448-4.864-11.456-6.432-17.568-4.064c-6.144,2.4-10.176,8.32-10.176,14.912v105.28 c0,4.064,1.536,7.968,4.32,10.912l85.76,91.808l-85.792,91.776c-2.752,2.976-4.288,6.88-4.288,10.944v105.28 c0,6.592,4.032,12.512,10.176,14.912c1.888,0.736,3.872,1.088,5.824,1.088c4.384,0,8.672-1.824,11.744-5.152l192-208 C513.4,260.695,513.4,251.287,507.736,245.143z"/>\
    </svg>');

    transform: rotate(90deg);
  }
}

.message__btn-text {
  display: none;
}

