.message {
  max-width: 400px;
  margin-bottom: 10px;

  color: inherit;

  background-color: var(--text-secondary);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.message__header {
  display: flex;
  justify-content: space-between;
  min-height: 14px;
}

.message__btn {
  flex-basis: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;

  border-left: 1px solid var(--text-main);

  &:first-child {
    border-left-width: 0;
  }

  &:hover {
    background-color: var(--hover-color);
  }
  /* stylelint-disable string-no-newline, max-line-length */

  &--close {
    background-image:
      url(
        'data:image/svg+xml,\<svg viewBox="0 0 329 329" xmlns="http://www.w3.org/2000/svg" fill="%23c1c1c1">\
        <path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>\
        </svg>'
      );
  }

  &--expand {
    background-image:
      url(
        'data:image/svg+xml,\<svg viewBox="0 0 511.984 511.984" xmlns="http://www.w3.org/2000/svg" fill="%23c1c1c1">\
          <path transform="rotate(90, 256.496, 113.992)" d="m368.491364,-2.256931l0,-119.145c0,-7.460144 -4.031982,-14.159775 -10.176025,-16.875854c-6.112,-2.679855 -13.151978,-0.905365 -17.567993,4.599228l-191.999985,235.39286c-5.664001,6.953133 -5.664001,17.63633 0,24.589485l191.999985,235.392868c3.072021,3.730042 7.360016,5.794281 11.744019,5.794281c1.951996,0 3.935974,-0.398346 5.823975,-1.231293c6.144043,-2.716095 10.176025,-9.41571 10.176025,-16.875854l0,-119.145004c0,-4.599213 -1.536011,-9.017349 -4.320007,-12.385269l-85.76001,-103.862595l85.791992,-103.898779c2.752014,-3.331713 4.288025,-7.749847 4.288025,-12.349073z"/>\
          <path transform="rotate(90, 255.988, 397.993)" d="m363.735168,385.690674l-191.999969,-235.857162c-4.447998,-5.515427 -11.455994,-7.293427 -17.567993,-4.608276c-6.144012,2.72142 -10.175995,9.43428 -10.175995,16.909119l0,119.37999c0,4.608337 1.53598,9.035217 4.319977,12.373413l85.76001,104.10376l-85.791992,104.067444c-2.752014,3.374573 -4.287994,7.801453 -4.287994,12.409729l0,119.379944c0,7.474915 4.031982,14.187744 10.175995,16.90918c1.888,0.834656 3.871979,1.233704 5.824005,1.233704c4.383972,0 8.671997,-2.068298 11.743988,-5.84198l191.999969,-235.857178c5.664063,-6.966797 5.664063,-17.634827 0,-24.601685z"/>\
        </svg>'
      );
  }
  /* stylelint-enable string-no-newline, max-line-length */
}

.message__btn-text {
  display: none;
}

.message__content {
  @include reset-indents;
  padding: 4px 8px 8px;
  overflow: hidden;

  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--open {
    white-space: normal;
  }
}
