.developer-screen__btn {
  align-self: center;
  width: 200px;
}

.developer-screen__custom-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-right: 10px;

  & .text-field__container {
    flex-grow: 1;
    margin-right: 10px;
  }

  & .text-field__input {
    width: 100%;
  }

  & .path-selector__container {
    flex-grow: 8;
  }

  & .path-selector__input-block {
    max-width: 100%;
  }
}

.developer-screen__custom-btns {
  display: flex;
  flex-direction: column;
}

.developer-screen__item.select__container {
  flex-direction: row;
  justify-content: space-between;
}

.developer-screen__custom-btns-container {
  @include reset-list;
}
