.launcher-settings__container {
  min-width: 300px;
  padding: 20px;

  color: inherit;
}

.launcher-settings__item {
  margin-bottom: 20px;

  & .select__label {
    margin-bottom: 0;
    padding-right: 10px;
  }
}
