.developer-screen__main {
  padding: 20px 10px 10px;
}

.developer-screen__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-bottom: 20px;

  border-bottom: 1px solid var(--text-main);

  &:last-child {
    margin-bottom: 0;
  }
}

.developer-screen__block-title {
  @include reset-indents;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.developer-screen__text {
  @include reset-indents;
  margin-bottom: 10px;

  text-align: center;
}

.developer-screen__item {
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.developer-screen__item.select__container {
  flex-direction: row;
  justify-content: space-between;
}

.developer-screen__custom-btns-container {
  @include reset-list;
}
