.developer-screen__navigation {
  display: flex;

  & .control-panel__btn {
    flex-grow: 1;
  }
}

.develover-screen__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: var(--content-width);
  height: 100%;
  padding: 0 10px 10px;
  overflow: hidden;
}

.developer-screen__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-bottom: 20px;
  padding-left: 10px;

  border-bottom: 1px solid var(--text-main);

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;

    border-bottom-width: 0;
  }
}
