.developer__game-settings {
  color: inherit;
}

.developer__groups-container {
  @include reset-indents;
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 10px;
  margin-bottom: 10px;
}

.developer__groups-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;

  border: 2px solid var(--text-main);
  border-radius: 10px;

  &--new {
    border-color: var(--focus-color);
  }

  & .editable-item {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  & .editable-item--editable {
    flex-grow: 1;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  & .editable-item__input {
    padding: 6px 8px;

    border: none;

    &:focus {
      border-color: var(--focus-color);
    }
  }
}

.developer__group-label {
  @include reset-indents;
  margin-right: var(--space-m);
}

.developer__list {
  @include reset-list;

  & li {
    margin-bottom: 10px;
  }
}
